 <ol class="breadcrumb">
    <li><%=h link_to "Home", "/" %></li>
  <li><a href="#">Post</a></li>
  <li class="active">Edit</li>
</ol>

<% if @post && @post.errors.any?  %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag("edit", method: "post", role: "form") do %>
 <%= hidden_field_tag :post_id, @post_id %>
<div class="form-group">
  <%= label_tag(:title, "Post Tile:") %>
  <%= text_field_tag :title, @post.title %>
  </div>


  <div class="form-group">
  <%= label_tag(:q, "Post Content:") %>
  <%= text_field_tag :content, @post.content, size: 75, placeholder: 'Enter post content...' %>
</div>
  <%= submit_tag "Post", class: "btn btn-default", type: "submit", value: "Submit" %>
<% end %>
<%= link_to 'Go Back', :action => "index" %> 