<% if @post && @post.errors.any?  %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag("new", method: "post") do %>
  <%= label_tag(:title, "Post Tile:") %>
  <%= text_field_tag(:title) %>
  <br/ >
  <%= label_tag(:q, "Post Content:") %>
  <%= text_field_tag :content, '', size: 75, placeholder: 'Enter post content...' %>

  <%= submit_tag("Post") %>
<% end %>